/* GENERAL */
:root {
    --font-one: 'Crete Round', serif;
    --font-two: 'Inter', sans-serif;
    --nav-color: #6C6968;
    --main-bg: #1C1A19;
    --main-color: #FF6B00;
    --border-color: #212121;
    --border2-color: #DBD8D7;
}

/* General */
.main-color {
    color: white;
    background-color: var(--main-color);
    font-family: var(--font-two);
}

button {
    transition: all 500ms !important;
}

button:hover {
    color: var(--main-color) !important;
    background-color: #FFF5E1 !important;
    border: 1px solid var(--main-color) !important;
}

button:active {
    color: white !important;
    background-color: var(--main-color) !important;
}

/* End General */
header {
    color: white;
}

/* NAV BAR */
nav {
    background-color: #3C3A39;
}

nav * {
    color: white;
    background-color: #3C3A39;
}

#logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.overLay .fa-xmark {
    color: var(--nav-color);
}

.overLay>p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-bottom: 1px var(--nav-color) solid;
    line-height: 44px;
    padding-block: 5px;
    font-size: 32px;
}

.overLay a {
    text-decoration: none;
}

/* END NAV BAR */

/* HEADLINE */
header {
    background-color: var(--main-bg);
    background-image: url(../images/homeBg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
    padding: 7.5rem 1.5rem !important;

}

h1 {
    font: 400 56px 'Crete Round', serif;
    line-height: 64px;
    color: var(--main-color);
}

header p:nth-child(2) {
    font: 700 24px 'Roboto', sans-serif;
    line-height: 32px;
}

header p:nth-child(3) {
    font: 400 16px 'Poppins', sans-serif;
    line-height: 24px;
}

/* END HEADLINE */

/* 
font-family: 'Crete Round', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
 */



/*  WORK  */




#works {
    padding: 7.5rem 0;
}

.header h2 {
    position: relative;
    font: 400 2.5rem var(--font-one);
    color: var(--main-bg);
}

.header h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    background-color: var(--border-color) !important;
}

.right-block h3 {
    font-size: 2rem;
    font-family: var(--font-one);
}


.card-tags p {
    background: rgba(255, 255, 255, 0.24);
}



.frame43 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5)), url(../images/Img\ Placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
    color: white;

}

/* END WORK */
/* ---------------- */
/* About ME */
#about {
    background-color: var(--main-bg);
    background-image: url(../images/Frame.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30%;
    padding: 7.5rem 1.5rem;
    color: white;
    position: relative;
}

.about h2 {
    color: var(--main-color);
    font: 400 4.5rem var(--font-one) !important;
}

.about p {
    width: 80%;
}

#about::after {
    content: "";
    height: 1px;
    position: absolute;
    background-color: white;
    left: 1.5rem;
    right: 1.5rem;
    bottom: -1px;
}

/* END ABOUT  */


/* SKILLS  */

#skills {
    background-color: var(--main-bg);
    padding: 7.5rem 1.5rem 2.38rem;
    color: white;
}

/* #skills * {
    border: 1px red solid;
} */

#skills span {
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--main-color);
}

.language span {
    transform: rotate(-45deg);

}

/* END SKILLS */

/* FORM  */
#form {
    padding: 7.5rem 1.5rem;
    border-bottom: 1px var(--border2-color) solid;
}

#form * {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.message-title p {
    font-family: var(--font-two);
    font-weight: 700;
    font-size: 2rem;
}

input[placeholder$="Name"] {
    display: none;
}

input {
    border: 0;
    border-bottom: 1px var(--border2-color) solid;
}

textarea {
    height: 7.125rem;
    background-color: #FBF8F7;
    border: 0;
}

svg {
    color: red !important;
}

/* END FORM */




/* Media Query */
@media only screen and (min-width: 768px) {
    .overLay {
        width: auto !important;
        height: auto !important;
    }

    .overLay>p {
        font-size: 1rem;
        border-bottom: 0;
        margin-inline: 0.5rem;
        padding-inline: 0.75rem;
        font-weight: 600;
        line-height: 1.25rem;
    }

    header {
        background-image: url(../images/home-pc-Bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 40%;
    }

    .action button {
        visibility: hidden;
    }

    #about {
        background-image: url(../images/about-pc-bg.png);
        background-position: right;
        background-size: 40%;
    }
}

@media only screen and (min-width: 992px) {

    input[placeholder$="name"] {
        display: none;
    }

    input[placeholder$="Name"] {
        display: inline-block;
        width: 45%;
        margin-right: 2.5%;
    }

    input[placeholder="Email address"] {
        width: 95% !important;
    }

    #form form textarea {
        width: 95% !important;
    }


}